<label>MOL Pro Version 0.1</label>
<p>Created by Jonathan Gold for the <a href="https://www.alynride.org/">Wheels of Love 2013 Charity Ride</a>. Click <a href="https://www.alynride.org/portal/riderDetails.aspx?lang=en&id=4dd738f7-7eed-e211-b7e1-000c29c4aef4">here</a> to sponsor Jonathan Gold, and support the Alyn Hospital.</p>

<img src="images/WOL_IMG_6292.jpg" alt="Maps of Love" class="img-poloroid"/>

<p>For more information, regarding the Maps of Love project, the 
    <a href="http://projectpage.mapsoflove.net">Project home page</a>, 
    <a href="http://blog.mapsoflove.net">Blog</a>, or 
    <a href="https://github.com/trider/maps-of-love">GitHub code repository</a>.
</p>
