<div class="panel panel-primary">
    <div class="panel-heading"><strong>Maps of Love</strong></div>           
    <div class="panel-body">
        <select id="rides" 
            ng-model="ridesquery"
            ng-options="ride for ride in rides"
            class="form-control input-sm" >
            <option value="">-- Choose a ride--</option>
        </select>
        <br>
        <div class="panel panel-primary">
            <ul id="routes" class="list-group">
                <li class="list-group-item" ng-repeat="route in routes | filter:ridesquery | filter:daysquery">
                    <a href="#/maps/{{route.ID}}">{{ route.type }} : {{ route.name }} ({{ route.ID }})</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-info" ng-click="go('/about')">About</button>
        <button class="btn btn-danger" ng-click="go('/donate')">Donate</button>  
    </div> 
    </div>
</div>
    
    
    

