
<select id="ride" class="form-control input-sm" disabled>
				<option value="Offroad_Day1">Offroad 1</option>
    <option value="Offroad_Day2">Offroad 2</option>
    <option value="Offroad_Day3">Offroad 3</option>
    <option value="Offroad_Day4">Offroad 4</option>
    <option value="Offroad_Day5">Offroad 5</option>
</select>
<div class="counter" id="counter"><br></div>
	<button class="btn btn-danger" id="btnStop">Stop</button>
	<button class="btn btn-success" id="btnRefresh">Restart</button> 
	<hr>
<div id="map" class="span6"></div>
        